* {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 0;
    border: 0;
    border: border-box;
    background-color: rgb(255, 255, 255);
}

.navbar ul li {
    list-style: none;
    display: inline;
    float: left;
    padding: 0.5rem;
    font-size: 75%;

    /*extra */


}

header {
    margin-top: 0rem;
}

.ilg {
    height: 0.8rem;
    width: 1.75rem;

}

.lg {
    background-image: url("1.png");
    background-size: cover;
    height: 1rem;
}

.navbar {

    padding: 0.5 rem;
    margin-top: 2px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 105, 105)
        /*background-color: bisque; */
}

.sb {
    background-color: rgb(180, 0, 0);
    color: white;
    padding-right: 2rem;
    border-radius: 0.5rem;
}

.sb:hover {
    background-color: rgb(255, 203, 203);
    color: rgb(180, 0, 0);


}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    padding: 1rem;
}

.nav {
    background-color: rgb(239, 239, 239);
    display: inline;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul li {
    padding: 2rem;
    background-color: rgb(239, 239, 239);

}

.navbg {
    background-color: rgb(239, 239, 239);

}

.secbg {
    background-color: rgb(0, 0, 0);
    height: 1.65rem;
}

.pls {
    color: red;
    font-size: 100%;
    background-color: rgb(239, 239, 239);

}

.navhead {

    justify-content: space-evenly;
}



.setbg {
    
background-color: rgb(216, 216, 216);
    height: 1.65rem;
}

.navbg2 {
    background-color: rgb(255, 255, 255);
    color: rgb(49, 49, 49);
    font-size: 75%;
    padding: 0.5rem;
}

.nav2 {
    background-color: rgb(255, 255, 255);
    display: inline;
    justify-content: center;
    align-items: center;
}


.testtxt{
    background-color: transparent;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:175%;
    margin-bottom:0rem;
    
}

.img1bg:hover  {
    
    background-image: url("img1.png");
    background-size:cover;
    transition:all 0.2s ease;
   
    vertical-align: middle;
}

.bottfoot{
    display:flex;
    justify-content: space-evenly;
    color:rgb(65, 65, 65);
    background-color: rgb(191, 191, 191);
}

.pribg{
    visibility: hidden;
    height:1.65rem;
    background-color: rgb(216, 216, 216);
}

@media (max-width:1330px){
    #nav-pri{
       visibility: collapse;
       
    }

    #nav-sec{
        visibility: collapse;

    }

    #nav-tri{
        visibility: collapse;
    }
    #toih{
        font-size: 150%;
        margin-top: 0%;
    }
    #pribgid{
        visibility:visible;
    }
    #subid{
        visibility: visible;
    }
    #toiplus{
        visibility: visible;
    }
    #toisrch{
        visibility: visible;
    }
}
