* {

    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
font-family: 'Raleway', sans-serif;
}

.head {
    font-family: 'Raleway', sans-serif;
    color: #000080;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 4px solid #000080;
    border-radius: 0px;
    font-size: 180%;
    font-weight: 15px;


}

.navbar {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    height: 25px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 200px;
    background-color: #89CFEF;
}

.navbar li {
    padding: 3px;
    color:white;
}

.navbar li:hover {

    color: white;
    background-color: #ffffff;
    border: 0px #000080 solid;
    border-radius: 4px;
    padding: 3px;
}

/* Slider Portion- Begins */
.container {
    padding: 5rem;
}

.slider-wrapper {
    position: relative;
    max-width: cover;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}

.slider-nav {
    display: flex;
    column-count: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    opacity: 75%;
    transition: opacity ease 250ms;
}

.welcome{
    padding:4rem;
    font-size:200%;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 150%;

}

/* Slider Portion- Begins */

.cont-1 {
    background-color: #008ECC;
    display: flex;

    padding: 2rem;
    border: 4px solid #008ECC;
    /* border-radius: 0.5rem; */
}

.services{
    color: white;
    font-size:120%;
    
}
.services h1{
    font-size:200%;
}

.services li{
    padding:10px;
}

/* Foot */
.foots{
    color:#00005e;
    background-color:#c0e8fa ;
    padding: 5rem;
    margin-top: 1rem;
   /* border-radius: 0.5rem; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot2{

   text-align: center;
    
}