@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{  
   font-family:raleway ;
   font-size:1rem;
   background-color: rgb(0, 0, 0);
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.content{
    height:100rem;
    background-image:url("bg.png");
    background-repeat: no-repeat;
  background-size:cover;
 
}

.content2{
    background-color: #000;
    height:28rem;
}

.Navbar{
  
    position:sticky;
    top:0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding:2rem;
    height:1rem;
   padding:2rem;
   
   
    margin-top:1rem;
    
}
a{
    color: rgb(188, 252, 252);
    text-decoration: none;
}
.blurr{
    background-color: rgba(0, 0, 0, 0.5);
}

.blurr2{
    background-color: rgba(0, 0, 0, 0);
}
.options{

    color: rgb(188, 252, 252);
    display:inline-block;
   
   padding:0rem 2rem;
  
}
.options:hover{
    text-decoration: underline;
   }


.searchbar{
    background-color: rgb(0, 0, 0);
    margin-left:2rem;
    padding:0.5rem 2rem;;
    
    
   
   
    font-size: 17px;
    background-color: rgb(255, 255, 255);
}
.searchbar:hover{
    background-color: rgb(255, 255, 255);
}
.logotop{
    background-color: rgb(0, 0, 0);
    margin-left:2rem;
    height:4rem;
    color:rgb(0, 0, 0);

}
.list{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:2rem;
}

.boxes{
    
    display:flex;
    
    justify-content: space-evenly;
    align-items: center;
    color:white;
    background-color: rgba(255, 255, 255, 0.228);
    border:0.1rem solid black;
  padding:2rem;
}
.row1{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.774);
  
}

.box{
    text-align: center;
    color:black;
    margin:2rem;
    padding:2rem;
    background-color:rgb(255, 255, 255);
}

.bimg{
    background-color: rgb(255, 255, 255);
    height:12rem;
}

.banner1{
   
    background-image: url(banner1.png);
    height:45rem;
    background-size: cover;
}

.banner2{
     background-image: url(banner2.png);
    height:45rem;
    background-size: cover;
}

.btext{
    padding:4rem;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    text-align:center;
    font-size:3rem;
}
.bbut{
    color:rgb(0, 0, 0);
  width:5rem;
  text-align: center;
  height:3rem;
  background-color: white;

  border-radius:1rem;
   display: flex;
   align-items: center;
   padding:0rem 2rem;
   
}
.bbut:hover{
    color: rgb(188, 252, 252);
    background-color: rgb(82, 82, 82);
}

.bcov{
    margin-top:2rem;
    background-color:rgba(126, 126, 126, 0.354);
    padding:3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    bottom: 0rem;
    padding:10rem;
    background-color: rgb(0, 0, 0);
    text-align:left;
    color:white;
}

.tradem{
    text-align:center;
    color:white;
}

.transp{
    background-color:rgba(0, 255, 255, 0);
    color:black;
}

.product-container {
    background-color:rgb(72, 71, 71);
	
	display:flex;
	justify-content: center;
	margin-top: 50px;
}

.product-image {
    margin:2rem;
    background-color: white;
    padding:3rem;
	width: 20%;
	height: auto;
	margin-top: 1rem;
	border: 0.25rem solid #9c9c9c;
    border-radius:2rem;
	
}

.product-info {
	width: 50%;
    padding:2rem 7rem;;
}

.product-name {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.product-description {
	font-size: 1.2rem;
	margin-bottom: 30px;
}



.buttonforprod {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 1rem;
	cursor: pointer;
    border-radius:0.5rem;
}

.buttonforprod:hover {
	background-color: #333;
    color: rgb(188, 252, 252);
}