.navbar {

  width: 100%;
  background-color: rgb(23, 23, 23);
 
  padding: 1rem ;

}

.nav-container {
  max-width: 800px;
  margin: 0 auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-button {
  background: transparent;
  border: none;
  color: rgb(170, 170, 170);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
  outline: none;
  font-family: "League Spartan", serif;
}

.nav-line {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.nav-button:hover {
  color: var(--accent);
}

.nav-button.active {
  color: var(--accent);
}

.nav-button.active .nav-line {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-container {
    padding: 0 1rem;
    gap: 1rem;
  }
  
  .nav-button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}


